<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pragnya Colleges{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="left">
                    <span id="element"> STUDENT PORTAL</span>
                </div>
                <div class="right">

                    <!-- Account icon -->
                    <button class="cssbuttons-io">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path
                                    d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
                                    fill="currentColor"></path>
                            </svg>
                            <a href="{{ url_for('auth.profile') }}" class="links">PROFILE</a>
                        </span>
                    </button>
                    <button class="cssbuttons-io">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path
                                    d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                                    fill="currentColor"></path>
                            </svg>
                            <a href="{{ url_for('auth.signup') }}" class="links">SIGN UP</a>
                        </span>
                    </button>

                    <button class="cssbuttons-io">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path
                                    d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                                    fill="currentColor"></path>
                            </svg>
                            <a href="{{ url_for('auth.login') }}" class="links">LOGIN</a>
                        </span>
                    </button>

                    <button class="cssbuttons-io">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                viewBox="0 0 24 24">
                                <path
                                    d="M24 12l-5.657 5.657-1.414-1.414L21.172 12l-4.243-4.243 1.414-1.414L24 12zM2.828 12l4.243 4.243-1.414 1.414L0 12l5.657-5.657L7.07 7.757 2.828 12zm6.96 9H7.66l6.552-18h2.128L9.788 21z"
                                    fill="currentColor"></path>
                            </svg>
                            <a href="{{ url_for('auth.logout') }}" class="links">LOGOUT</a>
                        </span>
                    </button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content here -->
    </footer>
</body>

</html>